body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  overflow: hidden;
}

.text-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: left;
}

.image-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: auto;
}

.image-container img {
  height: 100vh;
  width: auto;
  object-fit: cover;
}
